# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.next/

# editors and env
.env
.vscode/
*.pem
*_orig
docker-compose.override.yml

# Terraform
.terraform/
*.tfvars
