.course {

}

.info-bar {
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 4px;
    padding: 14px 16px;
    display: flex;
    align-items: stretch;
}

.info-bar-item {
    text-align: center;
    flex: 1;
}

.info-bar img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    opacity: .4;
}
