@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro|Volkhov');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    font-family: 'Volkhov', serif;
    font-size: 2em;
}

input,
button {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-size: 1em;
}

input {
    box-sizing: border-box;
}

.container {
    width: 1370px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 1;
    grid-gap: 20px;
}

.btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    appearance: none;
}

.btn:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-position: -0.5em;
    border-color: rgba(27,31,35,0.35);
}

.btn:active,
.btn.active {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15)
}

.btn-group .btn {
    border-radius: 0;
    border-right: transparent;
}

.btn-group .btn:first-child {
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}

.btn-group .btn:last-child {
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    border-right: 1px solid rgba(27,31,35,0.2);
}
