.navbar {
    text-align: left;
    width: 1370px;
    margin: 0 auto;
    border-bottom: 1px solid #E5E6E7;
    height: 72px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 1;
    grid-gap: 20px;
    align-items: center;
}

.search {
    position: relative;
    grid-column: span 6;
}

.search input {
    width: 100%;
    padding: 6px 13px;
    padding-left: 41px;
    background: #F9F9F9;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #0E1610;
    box-sizing: border-box;
}

.search input:focus {
    border-color: #9BA1A8;
}

.search-icon {
    position: absolute;
    margin-top: 7px;
    margin-left: 12px;
    height: 20px;
    width: 20px;
    opacity: .2;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 38px;
}

.nav-options {
    text-align: right;
    grid-column-end: -1;
}
